.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 3rem;
}

.form-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  max-width: 450px;
  height: 100%;
  gap: 1rem;
  margin: 7rem 0 5rem 0;
  border-radius: .5rem;
  padding: 1rem 0 2rem 0;
  background-color: var(--background-color);
}  

.form-container h1 {
  color: var(--main-text);
}

.form-container h3 {
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 70%;
  height: 100%;
}

.input-container input {
  height: 2.7rem;
  padding: 0rem 1rem;
}

.input-container label {
  color: var(--main-text);
}

#submit {
  color: var(--main-text);
  background-color: var(--color-primary);
}

.form-sign a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-container span {
  color: red;
  display: none;
}

.input-container input:invalid[unset='true'] ~ span {
  display: block;
}

.acount-made {
  display: none;
  color: var(--main-text);
}

.acount-made[success='true'] {
  display: flex;
}

.quick-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quick-bottom {
  display: flex;
  gap: 1rem;
}

@media only screen and (min-width:0) and (max-width:650px) {
  .form-container {
    flex-direction: column-reverse;
    margin-bottom: 6rem;
    padding-top: 6rem;
  }

  .form-sign {
    width: 90%;
    margin: 0;
  }

  .input-container {
    width: 80%;
  }

  #birth {
    width: 100%;
  }
}